div(id='map-canvas')
div(class='container')
    div(class='row')
        div(class='col-md-4')
                h4(class='title') Meet Me in the Middle
                div(class='row')
                    div(class='col-md-12')
                        div(id='locations_list')
                            ul(class='list-group')
        div(class='col-md-8')
            div(class='row')
                div(class='column col-md-6', id='location_1')
                    div(class='form-group input-group')
                        input(type=text, placeholder='Where are you?', id='location_input_1', class='location_input form-control')
                        span(class='input-group-btn')
                            button(class='btn btn-default my_location', type='button') 
                                img(src='/images/ajax-loader.gif', class='loading')
                                span(class='fui-radio-checked') 
                    ul(id='results_1', class='results list-group')
                div(class='column col-md-6', id='location_2')
                    div(class='form-group input-group')
                        input(type=text, placeholder='Where are they?', id='location_input_2', class='location_input form-control')
                        span(class='input-group-btn')
                            button(class='btn btn-default my_location', type='button') 
                                img(src='/images/ajax-loader.gif', class='loading')
                                span(class='fui-radio-checked') 
                    ul(id='results_2', class='results list-group')