body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.results {
  cursor:pointer;
}

.highlighted {
  color:#27AE60;
}

.input-group .input-group-btn .btn {
  font-size:16px;
}

#location_1 .has-success .fui-check-inverted {
  right:45px;
}

#my_location {
  outline:none;
  height:42px;
  width:48px;
}

#my_location .loading {
  display:none;
}

.type_selector {
  margin-top:10px;
}

.distances {
  float:right;
  color:#cccccc;
  font-size:11px;
}

#map-canvas {
  height:200px;
  width:100%;
  border:1px solid #34495e;
}